@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap&subset=latin-ext");

// @import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/pulse/bootstrap.min.css");
// @import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/darkly/bootstrap.min.css");

$btn-focus-width: 0 !important; 
$btn-focus-box-shadow: none !important;
$font-family-sans-serif: Quicksand, sans-serif !important;

*, *:before, *:after {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100%;
    background-image: url('/img/background11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body {
    font-family: $font-family-sans-serif;
    overflow: hidden;
}

// Override (remove) Bootstrap button focus ring
button[type="button"]:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/**
 * CUSTOM SCROLLBAR  (CHROME ONLY)
 */
 ::-webkit-scrollbar-thumb {
    /* background-color: rgba(121, 121, 121, 0.75); */
    background-color: rgba(181, 181, 181, 0.65);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(181, 181, 181, 0.75); 
 }
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
    /* background: none; */
    background: rgba(0, 0, 0, 0.2);
}

.tooltip {
    user-select: none;
}

.navbar {
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.navbar-nav {
    height: 60px;
    .btn {
        border-radius: 0;
    }
}

.authorize {
    height: 100%;
    
    >.jumbotron {
        box-shadow: 0px 8px 30px 2px rgba(0, 0, 0, 0.5);
    }
}

.live-channels, .search-streams,.popular-games, .channel-clips, .channel-videos {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(262px, 1fr)); 
}

.favorite-channels{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); 
}
