<template>
  <div class="authorize container d-flex align-items-center p-4">
    <div class="jumbotron m-0">
      <h1 class="display-4">Twitch Media Player</h1>
      <p class="lead">Watch your favorite Twitch live streams, videos and clips.</p>
      <hr class="bg-secondary my-4" />
      <p>
        TMPlayer uses the
        <a href="https://dev.twitch.tv/docs/api/" target="_blank" rel="noopener noreferrer">Twitch API</a> to load data on your behalf,
        such as the channels you follow.
        For this to work you need to authorize the application using your Twitch credentials.
        This is done in a secure manner and handled by Twitch.
        <!-- <b-link target="_blank">Twitch API</b-link> -->
      </p>
      <!-- 
      <p class="lead">
        <b-link target="_blank" @click="linkHandler()">Twitch API</b-link>
      </p>
      -->
      <hr class="bg-secondary my-4" />
      <p class="lead">
        <b-button type="button" variant="primary" class="btn-lg" @click="authorizeClickHandler()">Authorize</b-button>
      </p>
    </div>
  </div>
</template>

<script>

import { ipcRenderer } from "electron";

export default {
  name: "authorize",
  components: {

  },
  data() {
    return {
    };
  },
  computed: {

  },
  created() {
    console.log("Authorize ::: created");

  },
  mounted() {
    console.log("Authorize ::: mounted");

  },
  methods: {
    authorizeClickHandler() {
      console.log("Authorize ::: authorizeClickHandler");
      ipcRenderer.send("show-authorize");
    },
    linkHandler() {
      console.log("Authorize ::: linkHandler");
      // "https://dev.twitch.tv/docs/api/"
    }
  }
}
</script>

<style>
</style>