<template>
  <div class="channel-clips p-4">
    <transition name="channel-details">
      <card-channel-details
        v-if="clips && clips.length !== 0"
        :channel="channel"
        type="clips"
        @back="channelBackHandler"
        @videos="channelVideosHandler"
        @online="channelOnlineHandler"
        @unfollow="channelUnfollowHandler"
      ></card-channel-details>
    </transition>
    <card-channel-clip
      v-for="clip in clips"
      v-bind:key="clip.id"
      :clip="clip"
      @watch="clipWatchHandler"
      @online="clipOnlineHandler"
    ></card-channel-clip>
  </div>
</template>

<script>
import { ipcRenderer } from 'electron';
import { mapActions } from "vuex";
import CardChannelDetails from "@/components/CardChannelDetails";
import CardChannelClip from "@/components/CardChannelClip";

export default {
  name: 'channel-clips',
  components: {
    CardChannelDetails,
    CardChannelClip
  },
  data() {
    return {}
  },
  computed: {
    channel() {
      return this.$store.state.channelsModel.selectedChannel;
    },
    clips() {
      return this.$store.state.channelsModel.clips;
    }
  },
  created() {
    console.log("ChannelClips ::: created");
  },
  mounted() {
    console.log("ChannelClips ::: mounted");
    console.log(' - href:', window.location.href);
    const routeId = this.$route.params.id;
    console.log(' - route params id:', routeId);
    console.log(' - store selected channel:', this.channel);
    this.$bvModal.show('bv-modal-loading');
    this.getChannelClips(routeId)
      .then(clips => {
        console.log("ChannelClips ::: getChannelClips ::: then");
        console.log(' - clips:', clips);
        this.$bvModal.hide('bv-modal-loading');
        this.showNoClipsInfo();
      });
  },
  methods: {
    /**
     * 
     */
    ...mapActions([
      'getChannelClips', 'resetChannelClips'
    ]),
    /**
     * 
     */
    channelBackHandler(channel) {
      console.log("ChannelClips ::: channelBackHandler");
      console.log(' - channel:', channel);
      this.$router.push('/favorite-channels');
    },
    /**
     * 
     */
    channelVideosHandler(channel) {
      console.log("ChannelClips ::: channelVideosHandler");
      console.log(' - channel:', channel);
      console.log(' - channel id:', channel.id);
      this.$router.push(`/channel-videos/${channel.id}`);
    },
    /**
     * 
     */
    channelOnlineHandler(channel) {
      console.log("ChannelClips ::: channelOnlineHandler");
      console.log(' - channel:', channel);
      // TODO: ChannelClips online handler.
    },
    /**
     * 
     */
    channelUnfollowHandler(channel) {
      console.log("ChannelClips ::: channelUnfollowHandler");
      console.log(' - channel:', channel);
      // TODO: ChannelClips unfollow handler.
    },
    /**
     * 
     */
    clipWatchHandler(clip) {
      console.log("ChannelClips ::: clipWatchClickHandler");
      console.log(' - clip:', clip);
      // const clipUrl = clip.embed_url;
      ipcRenderer.send('clip-watch', clip);
    },
    /**
     * 
     */
    clipOnlineHandler(clip) {
      console.log("ChannelClips ::: clipOnlineClickHandler");
      console.log(' - clip:', clip);
      const clipUrl = clip.url;
      ipcRenderer.send('clip-online', clipUrl);
    },
    /**
     * 
     */
    showNoClipsInfo() {
      console.log("ChannelClips ::: clipOnlineClickHandler");
      if (this.clips && this.clips.length === 0) {
        this.$bvModal.msgBoxOk(`It looks like this channel does not have any clips.`, {
          title: "No Clips",
          size: 'sm',
          buttonSize: 'sm',
          headerClass: 'p-2',
          footerClass: 'p-2',
          noCloseOnBackdrop: true,
          centered: true
        }).then(value => {
          console.log("showNoClipsInfo ::: msgBoxOk ::: then");
          console.log(' - value:', value);
          this.$router.push('/favorite-channels');
        }).catch((err) => {
          console.log("showNoClipsInfo ::: msgBoxOk ::: catch");
          console.log(' - error:', err);
        });
      }
    }
  }
}
</script>

<style type="scss" scoped>
.channel-details-enter-active,
.channel-details-leave-active {
  transition: opacity 0.6s ease-out;
}

.channel-details-enter,
.channel-details-leave-to {
  opacity: 0;
}
</style>