<template>
  <div class="channel-videos p-4">
    <transition name="channel-details">
      <card-channel-details
        v-if="videos && videos.length !== 0"
        :channel="channel"
        type="videos"
        @back="channelBackHandler"
        @clips="channelClipsHandler"
        @online="channelOnlineHandler"
        @unfollow="channelUnfollowHandler"
      ></card-channel-details>
    </transition>
    <card-channel-video
      v-for="video in videos"
      v-bind:key="video.id"
      :video="video"
      @watch="videoWatchHandler"
      @online="videoOnlineHandler"
    ></card-channel-video>
  </div>
</template>

<script>

import { ipcRenderer } from "electron";
import { mapActions } from "vuex";
import CardChannelDetails from "@/components/CardChannelDetails";
import CardChannelVideo from "@/components/CardChannelVideo";

export default {
  name: 'channel-videos',
  components: {
    CardChannelDetails,
    CardChannelVideo
  },
  data() {
    return {}
  },
  computed: {
    channel() {
      return this.$store.state.channelsModel.selectedChannel;
    },
    videos() {
      return this.$store.state.channelsModel.videos;
    }
  },
  created() {
    console.log("ChannelVideos ::: created");
  },
  mounted() {
    console.log("ChannelVideos ::: mounted");
    console.log(' - href:', window.location.href);
    const routeId = this.$route.params.id;
    this.$bvModal.show('bv-modal-loading');
    this.getChannelVideos(routeId)
      .then(() => {
        this.$bvModal.hide('bv-modal-loading');
        this.showNoVideosInfo();
      })
      .catch(error => {
        this.$bvModal.hide('bv-modal-loading');
        const msg = `Failed to load data from Twitch API:  ${error}`;
        this.$bvModal.msgBoxOk(msg, { title: "Error:" });
      });
  },
  methods: {
    /**
     * 
     */
    ...mapActions([
      'getChannelVideos', 'resetChannelVideos'
    ]),
    /**
     * 
     */
    channelBackHandler(channel) {
      console.log("ChannelVideos ::: channelBackHandler");
      console.log(' - channel:', channel);
      this.$router.push('/favorite-channels');
    },
    /**
     * 
     */
    channelClipsHandler(channel) {
      console.log("ChannelVideos ::: channelClipsHandler");
      console.log(' - channel:', channel);
      console.log(' - channel id:', channel.id);
      this.$router.push(`/channel-clips/${channel.id}`);
    },
    /**
     * 
     */
    channelOnlineHandler(channel) {
      console.log("ChannelVideos ::: channelOnlineHandler");
      console.log(' - channel:', channel);
      // TODO: ChannelVideos online handler.
    },
    /**
     * 
     */
    channelUnfollowHandler(channel) {
      console.log("ChannelVideos ::: channelUnfollowHandler");
      console.log(' - channel:', channel);
      // TODO: ChannelVideos unfollow handler.
    },
    /**
     * 
     */
    videoWatchHandler(video) {
      console.log("ChannelVideos ::: videoWatchHandler");
      console.log(' - video:', video);
      // const clipUrl = clip.embed_url;
      // https://player.twitch.tv/?enableExtensions=false&muted=false&player=popout&&video=521236050&volume=0.20
      ipcRenderer.send('video-watch', video);
    },
    /**
     * 
     */
    videoOnlineHandler(video) {
      console.log("ChannelVideos ::: videoOnlineHandler");
      console.log(' - video:', video);
      const videoUrl = video.url;
      ipcRenderer.send('video-online', videoUrl);
    },
    /**
     * 
     */
    showNoVideosInfo() {
      console.log("ChannelVideos ::: showNoVideosInfo");
      if (this.videos && this.videos.length === 0) {
        this.$bvModal.msgBoxOk("It looks like this channel does not have any videos.", {
          title: "No Videos",
          size: 'sm',
          buttonSize: 'sm',
          headerClass: 'p-2',
          footerClass: 'p-2',
          noCloseOnBackdrop: true,
          centered: true
        }).then(value => {
          console.log("showNoVideosInfo ::: msgBoxOk ::: then");
          console.log(' - value:', value);
          this.$router.push('/favorite-channels');
        }).catch((err) => {
          console.log("showNoVideosInfo ::: msgBoxOk ::: catch");
          console.log(' - error:', err);
        });
      }
    }
  }
}
</script>

<style type="scss" scoped>
.channel-details-enter-active,
.channel-details-leave-active {
  transition: opacity 0.6s ease-out;
}

.channel-details-enter,
.channel-details-leave-to {
  opacity: 0;
}
</style>