<template>
  <div class="favorite-channels p-4">
    <card-channel
      v-for="channel in followedUsers"
      v-bind:key="channel.id"
      :channel="channel"
      @videos="channelVideosHandler"
      @clips="channelClipsHandler"
      @online="channelOnlineHandler"
      @unfollow="channelUnfollowHandler"
    ></card-channel>
  </div>
</template>

<script>

import { mapActions } from "vuex";
import CardChannel from "@/components/CardChannel.vue";

export default {
  name: 'favorite-channels',
  components: {
    CardChannel
  },
  data() {
    return {}
  },
  computed: {
    channels() {
      // return this.$store.state.channelsModel.channels;
      return this.$store.getters.channels;
    },
    followedUsers() {
      // return this.$store.state.userModel.followedUsers;
      return this.$store.getters.followedUsers;
    }
  },
  mounted() {
    console.log("FavoriteChannels ::: mounted");
    console.log(' - href:', window.location.href);
    this.$bvModal.show('bv-modal-loading');
    this.getFollowedChannels()
      .then(() => {
        console.log("FavoriteChannels ::: getFollowedChannels ::: then");
        this.$bvModal.hide('bv-modal-loading');
      })
      .catch(error => {
        console.log("FavoriteChannels ::: getFollowedChannels ::: catch");
        console.log(' - error:', error);
        this.$bvModal.hide('bv-modal-loading');
        let msg = "Failed to load data from Twitch API.";
        if (typeof error === String) {
          msg = `Failed to load data from Twitch API: ${error}`;
        }
        this.$bvModal.msgBoxOk(msg, { title: "Error:" });
      });
  },
  methods: {
    /**
     * 
     */
    ...mapActions([
      'getFollowedChannels',
      'setSelectedChannel'
    ]),
    /**
     * 
     */
    async channelVideosHandler(channel) {
      console.log("FavoriteChannels ::: channelVideosHandler");
      console.log(' - channel:', channel);
      // this.$store.commit('getChannelVideos', []);
      this.setSelectedChannel(channel).then(() => {
        this.$router.push(`/channel-videos/${channel.id}`);
      });
    },
    /**
     * 
     */
    async channelClipsHandler(channel) {
      console.log("FavoriteChannels ::: channelClipsHandler");
      console.log(' - channel:', channel);
      this.$store.commit('getChannelClips', []);
      this.setSelectedChannel(channel).then(() => {
        this.$router.push(`/channel-clips/${channel.id}`);
      });
    },
    /**
     * 
     */
    async channelOnlineHandler(channel) {
      console.log("FavoriteChannels ::: channelOnlineHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    async channelUnfollowHandler(channel) {
      console.log("FavoriteChannels ::: channelUnfollowHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    showMessageBox(title, msg) {
      console.log("FavoriteChannels ::: showMessageBox");
      this.$bvModal.msgBoxOk(msg, {
        title: title,
        size: 'sm',
        buttonSize: 'sm',
        headerClass: 'p-2',
        footerClass: 'p-2',
        centered: true
      }).catch((err) => {
        console.log("showMessageBox ::: msgBoxOk ::: catch");
        console.log(' - error:', err);
      });
    }

  }
}
</script>

<style lang="scss" scoped>
</style>