<template>
  <div class="live-channels p-4">
    <card-live-stream
      v-for="(item, idx) in streams"
      v-bind:key="item._id"
      v-bind:data-index="idx"
      :stream="item"
      @watch="streamWatchClickHandler"
      @videos="streamVideosClickHandler"
      @online="streamOnlineClickHandler"
      @unfollow="streamUnfollowClickHandler"
    ></card-live-stream>
    <b-modal
      id="modal-loading"
      title="Working"
      size="sm"
      hide-header
      hide-header-close
      hide-footer
      no-close-on-backdrop
      no-close-on-esc
      centered
    >
      <template v-slot:default class="d-flex">
        <div class="d-flex justify-content-center align-items-center">
          <b-spinner variant="primary" label="Loading data" small></b-spinner>
          <b-card-text class="ml-4">Loading data... please wait.</b-card-text>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";
import { mapActions } from "vuex";
// @ is an alias to /src
import CardLiveStream from "@/components/CardLiveStream.vue";

export default {
  name: 'live-streams',
  components: {
    CardLiveStream
  },
  data() {
    return {
    }
  },
  computed: {
    streams() {
      console.log("LiveStreams ::: computed ::: streams");
      const s = this.$store.state.streamsModel.streams;
      console.log(' - streams:', s);
      return s;
      // return this.$store.state.streamsModel.streams;
    },
    newStreams() {
      console.log("LiveStreams ::: computed ::: newStreams");
      const s = this.$store.getters.newStreams;
      console.log(' - number of new streams:', s.length);
      console.log(' - new streams:', s);
      return s;
    }
  },
  created() {
    console.log("LiveChannels ::: created");
    // Start live streams timer
    this.startLiveStreams();
  },
  beforeDestroy() {
    this.stopLiveStreams();
  },
  mounted() {
    console.log("LiveChannels ::: mounted");
    console.log(' - href:', window.location.href);
    this.$bvModal.show('bv-modal-loading');
    this.getLiveStreams()
      .then(() => {
        this.$bvModal.hide('bv-modal-loading');
      })
      .catch(error => {
        this.$bvModal.hide('bv-modal-loading');
        console.log(' - error:', error);
        let msg = "Failed to load data from Twitch API.";
        if (typeof error === String) {
          msg = `Failed to load data from Twitch API:  ${error}`;
        }
        this.$bvModal.msgBoxOk(msg, { title: "Error:" });
      });
  },
  methods: {
    /**
     * 
     */
    ...mapActions([
      'getLiveStreams',
      'getUserForId',
      'startLiveStreams',
      'stopLiveStreams'
    ]),
    /**
     * 
     */
    async streamWatchClickHandler(stream) {
      console.log("LiveChannels ::: streamWatchClickHandler");
      console.log(' - stream:', stream);
      this.$bvModal.show('bv-modal-loading');
      try {
        // const uid = stream.user_id;
        //* trigger bad request error.
        // const uid = undefined;
        // v5 channel id
        const uid = stream.channel._id;
        const user = await this.getUserForId(uid);
        console.log(' - user:', user);
        ipcRenderer.send('stream-watch', user);
        this.$bvModal.hide('bv-modal-loading');
      } catch (error) {
        console.log(' - error:', error);
        this.$bvModal.hide('bv-modal-loading');
        this.showMessageBox(error.error, error.message);
      }
    },
    /**
     * 
     */
    async streamVideosClickHandler(stream) {
      console.log("LiveChannels ::: streamVideosClickHandler");
      console.log(' - stream:', stream);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    async streamOnlineClickHandler(stream) {
      console.log("LiveChannels ::: streamOnlineClickHandler");
      console.log(' - stream:', stream);
      console.log(' - channel url:', stream.channel.url);
      console.log(' - stream id:', stream._id);
      console.log(' - user id:', stream.channel._id);
      //* wrong id to test error
      // const uid = "kloptnie";
      // v5 user id is stored in stream.channel
      const uid = stream.channel._id;
      this.$store.dispatch('getUserForId', uid).then(user => {
        console.log("LiveChannels ::: getUserForId ::: then");
        console.log(' - user:', user);
        ipcRenderer.send('stream-online', user);
      }).catch((error) => {
        console.log("LiveChannels ::: getUserForId ::: catch");
        console.log(' - error:', error);
        // error: "Bad Request"
        // message: "Invalid login names, emails or IDs in request"
        // status: 400        
        this.showMessageBox(error.error, error.message);
      });
    },
    /**
     * 
     */
    async streamUnfollowClickHandler(stream) {
      console.log("LiveChannels ::: streamUnfollowClickHandler");
      console.log(' - stream:', stream);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    showMessageBox(title, msg) {
      console.log("LiveStream ::: showMessageBox");
      this.$bvModal.msgBoxOk(msg, {
        title: title,
        size: 'sm',
        buttonSize: 'sm',
        headerClass: 'p-2',
        footerClass: 'p-2',
        centered: true
      })
        .catch((err) => {
          console.log("showMessageBox ::: msgBoxOk ::: catch");
          console.log(' - error:', err);
        });
    }
  }
}
</script>
