<template>
  <div class="live-channels p-4">
    <transition name="game-info">
      <card-game-info :game="game" v-if="streams && streams.length !== 0"></card-game-info>
    </transition>
    <card-game-stream
      v-for="(item, idx) in streams"
      v-bind:key="item.id"
      v-bind:data-index="idx"
      :stream="item"
      :game="game"
      @watch="streamWatchClickHandler"
      @videos="streamVideosClickHandler"
      @online="streamOnlineClickHandler"
      @follow="streamFollowClickHandler"
    ></card-game-stream>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";
import { mapActions } from "vuex";
import CardGameStream from "@/components/CardGameStream";
import CardGameInfo from "@/components/CardGameInfo";

export default {
  name: 'popular-game-streams',
  components: {
    CardGameStream, CardGameInfo
  },
  data() {
    return {
      refreshInterval: null
    }
  },
  computed: {
    streams() {
      return this.$store.state.streamsModel.gameStreams;
    },
    game() {
      return this.$store.state.gamesModel.selectedGame;
    }
  },
  created() {
    console.log("PopularGameStreams ::: created");
    const gid = this.$route.params.id;
    console.log(' - game id:', gid);
    this.$bvModal.show('bv-modal-loading');
    this.resetStreamsForGame();
    this.getStreamsForGame(gid)
      .then(() => {
        this.$bvModal.hide('bv-modal-loading');
      })
      .catch(() => {
        this.$bvModal.hide('bv-modal-loading');
      });
    // this.refreshInterval = setInterval(() => {
    //   console.log('PopularGameStreams ::: refreshInterval');
    // }, 5000);
  },
  mounted() {
    console.log("PopularGameStreams ::: mounted");
    console.log(' - href:', window.location.href);

  },
  beforeDestroy() {
    console.log("PopularGameStreams ::: beforeDestroy");
    // clearInterval(this.refreshInterval);
  },
  methods: {
    ...mapActions([
      'getStreamsForGame',
      'resetStreamsForGame',
      'getUserForId'
    ]),
    /**
     * 
     */
    async streamWatchClickHandler(channel) {
      console.log("PopularGameStreams ::: streamWatchClickHandler");
      console.log(' - channel:', channel);
      this.$bvModal.show('bv-modal-loading');
      const uid = channel.user_id;
      const user = await this.getUserForId(uid);
      console.log(' - user:', user);
      ipcRenderer.send('stream-watch', user);
      this.$bvModal.hide('bv-modal-loading');
    },
    async streamVideosClickHandler(channel) {
      console.log("PopularGameStreams ::: streamVideosClickHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    async streamOnlineClickHandler(channel) {
      console.log("PopularGameStreams ::: streamOnlineClickHandler");
      console.log(' - channel:', channel);
      this.$bvModal.show('bv-modal-loading');
      const uid = channel.user_id;
      const user = await this.getUserForId(uid);
      console.log(' - await user:', user);
      ipcRenderer.send('stream-online', user);
      this.$bvModal.hide('bv-modal-loading');
    },
    async streamFollowClickHandler(channel) {
      console.log("PopularGameStreams ::: streamFollowClickHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    showMessageBox(title, msg) {
      console.log("PopularGameStreams ::: showMessageBox");
      this.$bvModal.msgBoxOk(msg, {
        title: title,
        size: 'sm',
        buttonSize: 'sm',
        headerClass: 'p-2',
        footerClass: 'p-2',
        centered: true
      }).catch((err) => {
        console.log("showMessageBox ::: msgBoxOk ::: catch");
        console.log(' - error:', err);
      });
    }

  }
}
</script>

<style lang="scss" scoped>
.game-info-enter-active,
.game-info-leave-active {
  transition: opacity 0.6s ease-out;
}

.game-info-enter,
.game-info-leave-to {
  opacity: 0;
}
</style>
