<template>
  <div class="popular-games p-4">
    <!-- https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-285x380.jpg -->
    <!-- <h4>This is the Popular Games page</h4> -->
    <card-top-game
      v-for="(game, idx) in games"
      v-bind:key="game.id"
      v-bind:data-index="idx"
      :game="game"
      @click="gameCardClickHandler"
    ></card-top-game>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import CardTopGame from "@/components/CardTopGame";

export default {
  name: 'popular-games',
  components: {
    CardTopGame
  },
  computed: {
    games() {
      // return this.$store.state.games;
      return this.$store.state.gamesModel.games;
    }
  },
  mounted() {
    console.log("PopularGames ::: mounted");
    console.log(' - href:', window.location.href);
    this.$bvModal.show('bv-modal-loading');
    this.getTopGames()
      .then(() => {
        this.$bvModal.hide('bv-modal-loading');
      })
      .catch(error => {
        this.$bvModal.hide('bv-modal-loading');
        const msg = `Failed to load data from Twitch API:  ${error}`;
        this.$bvModal.msgBoxOk(msg, { title: "Error:" });
      });
  },
  methods: {
    ...mapActions([
      'getTopGames', 'setSelectedGame'
    ]),
    /**
     * 
     * @param {Object} game
     */
    gameCardClickHandler(game) {
      console.log("PopularGames ::: gameCardClickHandler");
      console.log(' - game id:', game.id);
      // Update store with selected game
      this.setSelectedGame(game)
        .then(() => {
          console.log("PopularGames ::: then ::: setSelectedGame");
          this.$router.push(`/popular-games/${game.id}`);
        });
    }
  }
}
</script>