<template>
  <div class="search-streams p-4">
    <card-search-stream
      v-for="(stream, idx) in streams"
      v-bind:key="stream.id"
      v-bind:data-index="idx"
      :stream="stream"
      @watch="streamWatchClickHandler"
      @videos="streamVideosClickHandler"
      @online="streamOnlineClickHandler"
      @follow="streamFollowClickHandler"
    ></card-search-stream>
  </div>
</template>

<script>
import { ipcRenderer } from "electron";
import { mapActions } from "vuex";
// @ is an alias to /src
import CardSearchStream from "@/components/CardSearchStream.vue";

export default {
  name: 'search-streams',
  components: {
    CardSearchStream
  },
  data() {
    return {

    }
  },
  computed: {
    /**
     * Returns the streams from store.
     * 
     * @returns the searched streams from store
     */
    streams() {
      return this.$store.state.streamsModel.searchStreams;
    }
  },
  mounted() {
    console.log("SearchStreams ::: mounted");
    console.log(' - href:', window.location.href);
    this.$bvModal.show('bv-modal-loading');
    this.getSearchStreams()
      .then(() => {
        this.$bvModal.hide('bv-modal-loading');
      })
      .catch(error => {
        this.$bvModal.hide('bv-modal-loading');
        const msg = `Failed to load data from Twitch API:  ${error}`;
        this.$bvModal.msgBoxOk(msg, { title: "Error:" });
      });

  },
  methods: {
    /**
     * Mapped store actions
     */
    ...mapActions([
      'getSearchStreams',
      'getUserForId'
    ]),
    /**
     * 
     */
    async streamWatchClickHandler(channel) {
      console.log("SearchStreams ::: streamWatchClickHandler");
      console.log(' - channel:', channel);
      this.$bvModal.show('bv-modal-loading');
      const uid = channel.user_id;
      const user = await this.getUserForId(uid);
      console.log(' - user:', user);
      ipcRenderer.send('stream-watch', user);
      this.$bvModal.hide('bv-modal-loading');
    },
    /**
     * 
     */
    async streamVideosClickHandler(channel) {
      console.log("SearchStreams ::: streamVideosClickHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    async streamOnlineClickHandler(channel) {
      console.log("SearchStreams ::: streamOnlineClickHandler");
      console.log(' - channel:', channel);
      const uid = channel.user_id;
      const user = await this.getUserForId(uid);
      console.log(' - user:', user);
      ipcRenderer.send('stream-online', user);
    },
    /**
     * 
     */
    async streamFollowClickHandler(channel) {
      console.log("SearchStreams ::: streamFollowClickHandler");
      console.log(' - channel:', channel);
      this.showMessageBox("Info", "Not implemented yet.");
    },
    /**
     * 
     */
    showMessageBox(title, msg) {
      console.log("SearchStreams ::: showMessageBox");
      this.$bvModal.msgBoxOk(msg, {
        title: title,
        size: 'sm',
        buttonSize: 'sm',
        headerClass: 'p-2',
        footerClass: 'p-2',
        centered: true
      }).catch((err) => {
        console.log("showMessageBox ::: msgBoxOk ::: catch");
        console.log(' - error:', err);
      });
    }
  }
}
</script>