<template>
  <b-modal
    id="bv-modal-loading"
    size="sm"
    hide-header
    hide-header-close
    hide-footer
    no-close-on-backdrop
    no-close-on-esc
    centered
  >
    <template v-slot:default class="d-flex">
      <div class="d-flex justify-content-center align-items-center">
        <b-spinner variant="primary" label="Loading data" small></b-spinner>
        <b-card-text class="ml-4">Loading data... please wait.</b-card-text>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "modal-loading",
  mounted() {
    console.log("ModalLoading ::: mounted");
  }
}
</script>

<style>
</style>