<template>
  <b-modal id="bv-modal-settings" @ok="settingsOkHandler($event)">
    <template v-slot:modal-title>Settings</template>
    <div class="d-block">
      <h4>Hello From This Modal!</h4>
    </div>
  </b-modal>
</template>

<script>

export default {

  data() {
    return {}
  },
  computed: {

  },
  mounted() {

  },
  methods: {
    /**
     * 
     * @param {*} event
     */
    settingsOkHandler(event) {
      console.log("Settings ::: settingsOkHandler");
      console.log(event);
      this.$emit('submit', event);
    }
  },
}
</script>

<style>
</style>