<template>
  <!-- :img-src="getThumbnailUrl()"
  :img-alt="channel.display_name"-->
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <b-card-img-lazy :src="getThumbnailUrl()" :alt="channel.display_name" fluid center></b-card-img-lazy>
    <!-- horizontal button group -->
    <b-button-group size="sm">
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Videos"
        @click.stop="$emit('videos', channel)"
      >
        <!-- <font-awesome-icon icon="film" size="lg" /> -->
        <font-awesome-icon icon="video" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Clips"
        @click.stop="$emit('clips', channel)"
      >
        <font-awesome-icon icon="file-video" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Twitch"
        @click.stop="$emit('online', channel)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Unfollow"
        @click.stop="$emit('unfollow', channel)"
      >
        <font-awesome-icon icon="heart-broken" size="lg" />
      </b-button>
    </b-button-group>
    <div class="card-body">
      <div
        v-b-tooltip.hover
        :title="getTooltip('channel-name', channel.display_name)"
        class="text-nowrap text-truncate text-center"
        ref="channel-name"
      >{{channel.display_name}}</div>
      <!-- <b-card-sub-title>{{channel.broadcaster_type}}</b-card-sub-title> -->
    </div>
    <!-- <b-card-body>
      <b-card-text>View count: {{channel.view_count}}</b-card-text>
    </b-card-body>-->
  </b-card>
</template>

<script>
export default {
  name: "card-channel",
  props: ['channel'],
  methods: {
    getThumbnailUrl() {
      return this.channel.profile_image_url;
    },
    /** 
     * 
     */
    getTooltip(refName, value) {
      // console.log("CardSearchStream ::: getTooltip");
      // console.log(' - target:', this.$refs[refName]);
      const el = this.$refs[refName];
      const tt = value;
      // if (el) {
      //   console.log(' - title offsetWidth', el.offsetWidth);
      //   console.log(' - title scrollWidth', el.scrollWidth);
      //   console.log(' - title is overflown', el.offsetWidth < el.scrollWidth);
      // }
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group {
    opacity: 0.8;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

.card-body {
  padding: 8px;
  > div {
    font-size: 1rem;
    font-weight: 500;
  }
}
</style>