<template>
  <!-- :img-src="getThumbnailUrl()"
  :img-alt="stream.user_name"-->
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <b-card-img-lazy :src="getThumbnailUrl()" :alt="stream.user_name" fluid center></b-card-img-lazy>
    <!-- Absolute positioned via CSS -->
    <b-button-group size="sm" vertical>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Watch"
        @click.stop="$emit('watch', stream)"
      >
        <font-awesome-icon icon="eye" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Videos"
        @click.stop="$emit('videos', stream)"
      >
        <font-awesome-icon icon="film" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Twitch"
        @click.stop="$emit('online', stream)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Follow"
        @click.stop="$emit('follow', stream)"
      >
        <font-awesome-icon icon="heart" size="lg" />
      </b-button>
    </b-button-group>

    <div class="card-header">
      <div
        v-b-tooltip.hover
        :title="getTooltip('stream-title', stream.title)"
        class="text-nowrap text-truncate"
        ref="stream-title"
      >{{stream.title || '[no title available]'}}</div>
    </div>
    <b-card-body>
      <b-card-sub-title class="mb-2">{{stream.user_name}}</b-card-sub-title>
      <b-card-text
        v-b-tooltip.hover
        :title="getTooltip('stream-game', stream.game.name)"
        class="text-nowrap text-truncate"
        ref="stream-game"
      >Playing {{stream.game.name}}</b-card-text>
      <b-card-text>For {{stream.viewer_count}} viewers</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-search-stream",
  props: ['stream'],
  data() {
    return {

    }
  },
  computed: {

  },
  mounted() {
    console.log("CardSearchStream ::: mounted");

  },

  methods: {
    /**
     * Replaces {width} and {height} placeholders in the thumbnail_url property with the following values:
     * 
     * - width: 320
     * - height: 180
     */
    getThumbnailUrl() {
      const thumbUrl = this.stream.thumbnail_url.replace('{width}', '320').replace('{height}', '180');
      return thumbUrl;
    },
    getTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  // max-width: 322px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group-vertical {
    position: absolute;
    // top: 8px;
    top: 5%;
    bottom: auto;
    right: 8px;
    opacity: 0.85;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }
}

.card-img {
  min-height: 147px;
  height: auto;
}

.card-header {
  padding: 0.75rem;
  font-size: 1rem;
}

.card-body {
  padding: 1rem;

  > h6 {
    font-size: 1rem;
  }

  > .card-text {
    margin: 0;
  }
}
</style>
