<template>
  <!-- :img-src="getThumbnailUrl()"
  :img-alt="clip.title"-->
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <!-- May add pagination in which case lazy loading isn't required -->
    <b-card-img-lazy :src="getThumbnailUrl()" fluid center></b-card-img-lazy>
    <b-button-group size="sm" vertical>
      <!-- WATCH BUTTON -->
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Watch"
        @click.stop="$emit('watch', video)"
      >
        <font-awesome-icon icon="eye" size="lg" />
      </b-button>
      <!-- ONLINE BUTTON -->
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Twitch"
        @click.stop="$emit('online', video)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
    </b-button-group>

    <div class="card-header">
      <div
        v-b-tooltip.hover
        :title="getTooltip('video-title', video.title)"
        ref="video-title"
        class="text-nowrap text-truncate"
      >{{video.title}}</div>
    </div>
    <b-card-body>
      <b-card-sub-title class="mb-2">{{video.type}}</b-card-sub-title>
      <b-card-text
        v-b-tooltip.hover
        :title="getDateTooltip('video-date', video.created_at)"
        ref="video-date"
        class="text-nowrap text-truncate"
      >Recorded on: {{video.created_at | moment("DD-MM-YYYY")}}</b-card-text>
      <b-card-text>{{video.view_count}} views</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-channel-video",
  props: ['video'],
  data() {
    return {

    }
  },
  computed: {

  },
  mounted() {
    console.log("CardGameStream ::: mounted");
  },
  methods: {
    /**
     * 
     * width x height: 480x272
     */
    getThumbnailUrl() {
      // "https://clips-media-assets2.twitch.tv/28400899472-offset-2406-preview-480x272.jpg"
      // "https://static-cdn.jtvnw.net/s3_vods/b853d560cfb25dd621f4_rocketleague_49812156478_5623209233//thumb/thumb521960083-%{width}x%{height}.jpg"
      const thumbUrl = this.video.thumbnail_url.replace("%{width}", "480").replace("%{height}", "272");
      return thumbUrl;
    },
    getTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },
    getDateTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      // console.log(' - formatted date:', this.$moment(tt).format("dddd, MMM Do YYYY"));
      const ftt = (el) ? this.$moment(tt).format("ddd, MMMM Do YYYY [at] HH:mm:ss") : "";
      return ftt;
    }

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  // max-width: 322px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group-vertical {
    position: absolute;
    // top: 8px;
    top: 5%;
    bottom: auto;
    right: 8px;
    opacity: 0.85;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }
}

.card-img {
  min-height: 147px;
  height: auto;
}

.card-header {
  padding: 0.75rem;
  font-size: 1rem;
}

.card-body {
  padding: 1rem;
  > h6 {
    font-size: 1rem;
  }

  > .card-text {
    margin: 0;
  }
}
</style>
