<template>
  <!-- 
    :img-src="getThumbnailUrl()"
    :img-alt="getName()"
  -->
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <b-card-img :src="getThumbnailUrl()" :alt="getName()" ref="stream-img"></b-card-img>
    <!-- vertical button group icons -->
    <b-button-group size="sm" vertical>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Watch"
        @click.stop="$emit('watch',  stream)"
      >
        <font-awesome-icon icon="eye" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Videos"
        @click.stop="$emit('videos', stream)"
      >
        <font-awesome-icon icon="film" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Twitch"
        @click.stop="$emit('online', stream)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Unfollow"
        @click.stop="$emit('unfollow', stream)"
      >
        <font-awesome-icon icon="heart-broken" size="lg" />
      </b-button>
    </b-button-group>

    <div class="card-header">
      <div
        v-b-tooltip.hover
        :title="getTooltip('stream-title', stream.channel.status)"
        ref="stream-title"
        class="text-nowrap text-truncate"
      >{{getStatus()}}</div>
    </div>
    <b-card-body>
      <b-card-sub-title class="mb-2">{{getName()}}</b-card-sub-title>
      <b-card-text
        v-b-tooltip.hover
        :title="getTooltip('stream-game', stream.game)"
        ref="stream-game"
        class="text-nowrap text-truncate"
      >Playing {{stream.game}}</b-card-text>
      <b-card-text>For {{stream.viewers}} viewers</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-live-stream",
  props: ['stream'],
  data() {
    return {

    }
  },
  computed: {

  },
  mounted() {
    // console.log("CardLiveChannel ::: mounted");
    // const img = this.$refs["stream-img"];
    // console.log(" - card image:", img);
  },
  methods: {
    imgErrorHandler() {
      console.log("CardLiveStream ::: imgErrorHandler");
    },
    /**
     * Replaces {width} and {height} placeholders in the thumbnail_url property with the following values:
     * - width: 320
     * - height: 180
     * 
     * The v5 Twitch API has a list of image urls labeled: small, medium, etc...
     * In that case, the return value will be the 'medium' url (320x180).
     * 
     * @example 
     * - "https://static-cdn.jtvnw.net/previews-ttv/live_user_nl_kripp-{width}x{height}.jpg"
     * - "https://static-cdn.jtvnw.net/previews-ttv/live_user_nl_kripp-320x180.jpg"
     * 
     */
    getThumbnailUrl() {
      // v5 api
      return this.stream.preview.medium;
    },
    /**
     * v5 API:
     * The user's display name for this stream.
     */
    getName() {
      return this.stream.channel.display_name;
    },
    /**
     * v5 API: The stream title.
     */
    getStatus() {
      return this.stream.channel.status;
    },
    getTooltip(refName, value) {
      // console.log("CardLiveStream ::: getTooltip");
      // console.log(' - target:', this.$refs[refName]);
      const el = this.$refs[refName];
      const tt = value;
      // if (el) {
      //   console.log(' - title offsetWidth', el.offsetWidth);
      //   console.log(' - title scrollWidth', el.scrollWidth);
      //   console.log(' - title is overflown', el.offsetWidth < el.scrollWidth);
      // }
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group-vertical {
    position: absolute;
    top: 5%;
    bottom: auto;
    right: 8px;
    opacity: 0.85;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }
}

.card-img {
  min-height: 147px;
  height: auto;
}

.card-header {
  padding: 0.75rem;
  font-size: 1rem;
}

.card-body {
  padding: 1rem;

  > h6 {
    font-size: 1rem;
  }

  > .card-text {
    margin: 0;
  }
}
</style>
