<template>
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <!-- May add pagination in which case lazy loading isn't required -->
    <b-card-img-lazy :src="getThumbnailUrl()" fluid center></b-card-img-lazy>
    <b-button-group size="sm" vertical>
      <!-- WATCH BUTTON -->
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Watch"
        @click.stop="$emit('watch', clip)"
      >
        <font-awesome-icon icon="eye" size="lg" />
      </b-button>
      <!-- ONLINE BUTTON -->
      <b-button
        type="button"
        class="btn"
        variant="primary"
        v-b-tooltip.hover.left
        title="Twitch"
        @click.stop="$emit('online', clip)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
    </b-button-group>

    <div class="card-header">
      <div
        v-b-tooltip.hover
        :title="getTooltip('clip-title', clip.title)"
        ref="clip-title"
        class="text-nowrap text-truncate"
      >{{clip.title}}</div>
    </div>
    <b-card-body>
      <b-card-sub-title class="mb-2">Clipped by {{clip.creator_name}}</b-card-sub-title>
      <b-card-text
        v-b-tooltip.hover
        :title="getTooltip('clip-game', clip.game.name)"
        ref="clip-game"
        class="text-nowrap text-truncate"
      >Playing {{clip.game.name}}</b-card-text>
      <b-card-text>{{clip.view_count}} views</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-channel-clip",
  props: ['clip'],
  data() {
    return {

    }
  },
  computed: {

  },
  mounted() {
    console.log("CardGameStream ::: mounted");
  },
  methods: {
    /**
     * 
     * width x height: 480x272
     */
    getThumbnailUrl() {
      // "https://clips-media-assets2.twitch.tv/28400899472-offset-2406-preview-480x272.jpg"
      const thumbUrl = this.clip.thumbnail_url;
      return thumbUrl;
    },
    getTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    }

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  // max-width: 322px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group-vertical {
    position: absolute;
    // top: 8px;
    top: 5%;
    bottom: auto;
    right: 8px;
    opacity: 0.85;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  }
}

.card-img {
  min-height: 147px;
  height: auto;
}

.card-header {
  padding: 0.75rem;
  font-size: 1rem;
}

.card-body {
  padding: 1rem;
  > h6 {
    font-size: 1rem;
  }

  > .card-text {
    margin: 0;
  }
}
</style>
