<template>
  <b-card bg-variant="secondary" text-variant="white" no-header no-body no-footer>
    <b-card-body :style="bgImage">
      <h4>{{channel.display_name}}</h4>
      <!-- <b-card-text>Some text for testing purposes.</b-card-text> -->
    </b-card-body>
    <!-- horizontal button group -->
    <b-button-group size="sm">
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Back"
        @click.stop="$emit('back', channel)"
      >
        <font-awesome-icon icon="arrow-left" size="lg" />
      </b-button>
      <b-button
        v-if="type !== 'videos'"
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Videos"
        @click.stop="$emit('videos', channel)"
      >
        <font-awesome-icon icon="video" size="lg" />
      </b-button>
      <b-button
        v-if="type !== 'clips'"
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Clips"
        @click.stop="$emit('clips', channel)"
      >
        <font-awesome-icon icon="file-video" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Twitch"
        @click.stop="$emit('online', channel)"
      >
        <font-awesome-icon icon="globe" size="lg" />
      </b-button>
      <b-button
        type="button"
        class="btn"
        variant="dark"
        v-b-tooltip.hover.top
        title="Unfollow"
        @click.stop="$emit('unfollow', channel)"
      >
        <font-awesome-icon icon="heart-broken" size="lg" />
      </b-button>
    </b-button-group>
  </b-card>
</template>

<script>

export default {
  name: "card-channel-details",
  props: ['channel', 'type'],
  data() {
    return {
      bgImage: { backgroundImage: `url('${this.getImageUrl()}')` },
    }
  },
  mounted() {
    console.log("CardChannelDetails ::: mounted");
    console.log(' - type:', this.type);
  },
  methods: {
    getImageUrl() {
      return this.channel.profile_image_url;
    },
    /** 
     * 
     */
    getTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },

  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  > .btn-group {
    opacity: 0.8;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

.card-body {
  flex: 1 1 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: calc(0.25rem - 1px);
  padding: 8px;
  > h4 {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
  }
  > div {
    font-size: 1rem;
    font-weight: 500;
  }
}
</style>