<template>
  <!--         
    {
        "id": "509658",
        "name": "Just Chatting",
        "box_art_url": "https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"
    }
  -->
  <b-card bg-variant="secondary" text-variant="white" no-body no-header no-footer overlay>
    <!-- <b-card-img-lazy :src="getImageUrl()" :alt="game.name" top @click.native="$emit('click', game)"></b-card-img-lazy> -->
    <b-card-body :style="bgImage"></b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-game-info",
  props: ['game'],
  data() {
    return {
      bgImage: { backgroundImage: `url('${this.getImageUrl()}')` },
    };
  },
  mounted() {
    console.log("CardGameInfo ::: mounted");

  },
  methods: {
    /**
     * Replaces {width} and {height} placeholders in the box_art_url property with the following values:
     * width: 320
     * height: 180
     * @example 
     * https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-285x380.jpg
     */
    getImageUrl() {
      // const imgUrl = this.game.box_art_url.replace('{width}', '285').replace('{height}', '380');
      const imgUrl = this.game.box_art_url.replace('{width}', '285').replace('{height}', '380');
      return imgUrl;
    },
    /** 
     * 
     */
    getTooltip(refName, value) {
      const el = this.$refs[refName];
      const tt = value;
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  // opacity: 0.85;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

  // &:hover {
  // opacity: 1;
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
  // }

  .card-body {
    flex: 1 1 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    border-radius: calc(0.25rem - 1px);
    padding: 8px;
    // > h4 {
    //   text-shadow: 0 0 8px rgba(0, 0, 0, 0.65);
    // }
    // > div {
    //   font-size: 1rem;
    //   font-weight: 500;
    // }
  }
}
</style>