<template>
  <!--         
    {
        "id": "509658",
        "name": "Just Chatting",
        "box_art_url": "https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-{width}x{height}.jpg"
    }
  -->
  <b-card bg-variant="secondary" text-variant="white" no-body no-header no-footer>
    <b-card-img-lazy :src="getImageUrl()" :alt="game.name" top @click.native="$emit('click', game)"></b-card-img-lazy>
    <!-- <b-card-img :src="getImageUrl()" :alt="game.name" top @click="$emit('click', game)"></b-card-img> -->
    <!-- <b-card-header class="text-nowrap text-truncate text-center">{{game.name}}</b-card-header> -->
    <b-card-body>
      <b-card-text
        v-b-tooltip.hover
        :title="getTooltip('game-name', game.name)"
        class="text-nowrap text-truncate text-center"
        ref="game-name"
      >{{game.name}}</b-card-text>
    </b-card-body>
  </b-card>
</template>

<script>
export default {
  name: "card-top-game",
  props: ['game'],
  data() {
    return {};
  },
  mounted() {
    console.log("CardTopGame ::: mounted");

  },
  methods: {
    /**
     * Replaces {width} and {height} placeholders in the box_art_url property with the following values:
     * - width: 285
     * - height: 380
     * @example 
     * https://static-cdn.jtvnw.net/ttv-boxart/Just%20Chatting-285x380.jpg
     */
    getImageUrl() {
      const artUrl = this.game.box_art_url.replace('{width}', '285').replace('{height}', '380');
      // console.log(' - cdnUrl:', cdnUrl);
      return artUrl;
    },
    /** 
     * 
     */
    getTooltip(refName, value) {
      // console.log("CardSearchStream ::: getTooltip");
      // console.log(' - target:', this.$refs[refName]);
      const el = this.$refs[refName];
      const tt = value;
      // if (el) {
      //   console.log(' - title offsetWidth', el.offsetWidth);
      //   console.log(' - title scrollWidth', el.scrollWidth);
      //   console.log(' - title is overflown', el.offsetWidth < el.scrollWidth);
      // }
      return (el && el.offsetWidth < el.scrollWidth) ? tt : "";
    },
    /**
     * 
     */
    cardImageClickHandler() {
      console.log("CardTopGame ::: cardImageClickHandler");
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  width: auto;
  opacity: 0.85;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);

  &:hover {
    opacity: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.65);
  }

  > .card-img,
  .card-img-top {
    cursor: pointer;
  }

  .card-body {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75rem;
  }
}
</style>