<template>
  <div id="app" class="d-flex flex-column">
    <!-- REQUIRED - used by all views - needs to be at the top to assure it"s loaded before routes -->
    <modal-loading></modal-loading>

    <!-- main menu -->
    <nav
      v-if="showNav"
      class="navbar navbar-expand-lg navbar-dark bg-primary py-0"
    >
      <!-- ROUTER NAV BUTTONS -->
      <!-- FIXME: Remove 'tag' and 'event' properties from router-link (no longer supported in Vue Router 4) -->
      <!-- TODO: Replace deprecated 'router-link' properties with 'v-slot' API -->
      <ul class="navbar-nav mr-auto">
        <router-link
          to="/live-streams"
          tag="button"
          type="button"
          class="nav-item btn btn-primary"
          exact-active-class="active"
          @click.native.stop="routerLinkClickHandler($event)"
          >Live Channels</router-link
        >
        <router-link
          to="/favorite-channels"
          tag="button"
          type="button"
          class="nav-item btn btn-primary"
          exact-active-class="active"
          @click.native.stop="routerLinkClickHandler($event)"
          >Channel Videos</router-link
        >
        <router-link
          to="/popular-games"
          tag="button"
          type="button"
          class="nav-item btn btn-primary"
          exact-active-class="active"
          @click.native.stop="routerLinkClickHandler($event)"
          >Popular Games</router-link
        >
        <router-link
          to="/search-streams"
          tag="button"
          type="button"
          class="nav-item btn btn-primary"
          exact-active-class="active"
          @click.native.stop="routerLinkClickHandler($event)"
          >Search Streams</router-link
        >
      </ul>
      <!-- SEARCH STREAM INPUT + BUTTON -->
      <form class="form-inline m-2">
        <input
          class="form-control bg-dark text-light mr-2"
          type="text"
          placeholder="Search"
        />
        <button type="button" class="btn btn-dark">Search</button>
      </form>
      <!-- SETTINGS BUTTON -->
      <button
        type="button"
        class="btn btn-dark"
        @click.stop="$bvModal.show('bv-modal-settings')"
      >
        <font-awesome-icon icon="cog" size="lg" />
      </button>
    </nav>

    <!-- main container - scrolls the main content -->
    <div class="route-container">
      <router-view />
    </div>

    <!-- modal settings window -->
    <modal-settings @submit="settingsOkHandler($event)"></modal-settings>

    <b-toast
      id="streams-toast"
      title="Live Streams"
      toast-class="bg-primary text-white"
      header-class="bg-primary text-white"
      body-class="bg-primary text-white"
      toaster="b-toaster-bottom-right"
      auto-hide-delay="10000"
      >Hello, world! This is a toast message.</b-toast
    >
  </div>
</template>

<script>
import { ipcRenderer } from "electron";
import ModalSettings from "@/components/modal/Settings.vue";
import ModalLoading from "@/components/modal/Loading.vue";

export default {
  name: "app",
  components: {
    ModalSettings,
    ModalLoading,
  },
  computed: {
    /**
     *
     */
    showNav() {
      // return this.$route.path !== "/";
      return true;
    },
  },
  created() {
    console.log("APP ::: created");
    // INFO: watch for changes to newStreams (notifications).
    this.$store.watch(
      (state, getters) => getters.newStreams,
      (newValue, oldValue) => {
        console.log("App ::: watch ::: newStreams");
        console.log(" - old value:", oldValue);
        console.log(" - new value:", newValue);
        if (newValue && newValue.length !== 0) {
          // TODO: display new streams notification.
          this.$bvToast.show("streams-toast");
        }
      }
    );
  },
  mounted() {
    console.log("APP ::: mounted");
    console.log(" - current route path:", this.$route.path);

    ipcRenderer.send("app-mounted");
    ipcRenderer.on("token-changed", this.tokenChangedHandler);
    window.addEventListener("keypress", this.refreshData);
  },
  methods: {
    /**
     *
     */
    refreshData(event) {
      console.log("APP ::: refreshData");
      console.log(" - event:", event);
    },
    /**
     * ipcRenderer "token-changed" event handler.
     * This method is called when the Twitch OAuth user token changes.
     * The new token is passed on to the Vue Store.
     *
     * @param {*} event
     * @param {String} token The Twitch OAuth user token.
     */
    tokenChangedHandler(event, token) {
      console.log("APP ::: tokenChangedHandler");
      console.log(" - token:", token);
      // TODO: store token in vuex store and load user info for token.
      this.$store.dispatch("setOAuthToken", token);
    },
    /**
     *
     */
    routerLinkClickHandler(event) {
      console.log("APP ::: routerLinkClickHandler");
      // console.log(" - event:", event);
      const t = event.target;
      console.log(" - target:", t);
    },
    /**
     *
     * @param {*} event
     */
    settingsOkHandler(event) {
      console.log("APP ::: settingsOkHandler");
      console.log(event);
    },
  },
};
</script>

<style lang="scss" scoped>
  #app {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }

  .route-container {
    flex: 1;
    overflow-y: auto;
    overflow-y: overlay;
  }
</style>
